html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}

p, h1, h2, h3 {
    user-select: none;
}

.info-display {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    color: #ffffff;
}

.wifi-menu {
    height: 100%;
    width: 100%;
}

.network-list {
    width: 100%;
    background-color: #000000;
    display: block;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 35px;
}

.network-list-item {
    width: 100%;
    background-color: inherit;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.network-list-item:hover {
    background-color: #1a1a1a;
}

.network-ssid-label {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    text-align: left;
    margin-left: 4px;
    color: #ffffff;
    cursor: default;
}

.network-security-label {
    font-family: Segoe UI,Cantarell;
    font-weight: 200;
    font-size: small;
    text-align: left;
    color: #cccccc;
    cursor: default;
}

.network-signal-icon {
    float: left;
    margin-left: 8px;
}

.selected-network-dialog {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.network-authentication-dialog {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.selected-network-dialog-button {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    margin-left: 50%;
    height: 32px;
    width: 40%;
}

.selected-network-dialog-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.selected-network-dialog-button.noselect {
    user-select: none;
}

.selected-network-dialog-button:hover {
    background-color: #262626;
}

.network-settings-button {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.network-settings-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.network-settings-button.noselect {
    user-select: none;
}

.network-settings-button:hover {
    background-color: #262626;
}

.network-auth-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable-element {
    scrollbar-color: dark;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: #333333;
}

.dialog-nav-button {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    height: 32px;
    width: 49%;
    margin-left: 1px;
    margin-right: 1px;
    display: table-cell;
}

.dialog-nav-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.dialog-nav-button.noselect {
    user-select: none;
}

.dialog-nav-button:hover {
    background-color: #262626;
}

.label-input {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Segoe UI,Cantarell;
    font-size: small;
    font-weight: 200;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 5%;
    cursor: default;
}

.dialog-nav-row {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: table;
}

.checkbox-container {
    color: #ffffff;
    font-size: small;
    font-family: Segoe UI,Cantarell;
    font-weight: 200;
    text-align: right;

    display: inline-block;

    position: relative;
    margin-left: 44px;
    margin-right: auto;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #1a1a1a;
    border: solid white;
    border-width: 1px 1px 1px 1px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #333333;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #1a1a1a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
